.container-full{
  background-image: url(coffee_image.png);
}
.container-nav nav.flex{
    justify-content: space-between;
    color: var(--font-color);

}

.container-nav{
    padding: 20px 35px 10px 35px;
}

.container-nav nav ul li{
    padding: 0 10px;
    font-size: 14px;
    margin-top: 10px;
    cursor: pointer;
}
.container-nav nav ul li a:hover{
   color: var( --bottom);
   transition: 0.3s;
}
.container-nav nav ul li:active{
    scale: 0.90;
}

.container-nav nav h1{
    font-size: 40px;
    font-weight: 100;
    cursor: pointer;

}

.container-nav nav .button{
    gap: 20px;
    font-size: 14px;
    margin-top: 10px;
    cursor: pointer;
}

.container-nav nav .sing{
     border: var(--bottom) 1px solid;
     background-color: var(--bottom);
     padding: 10px;
     border-radius: 10px;
     color: var( --font-bottom);
     position: relative;
     bottom: 9px;


}

.container-nav nav .sing:hover{
    color: var(--sub-title);
    transition: 0.3s;
}

.container-nav nav .sing:active{
    scale: 0.90;
}

.container-nav nav .sign:active{
    scale: 0.90;
}
.container-nav nav .sign:hover{
    color: var(--bottom);
    transition: 0.3s;
}











/* ===================================================================
                   hero section
============================================================== */




.container-hero {
 padding-top: 100px;
 color: var(--font-color);
   padding: 100px 0 50px 70px;
   padding-right: 650px;
}

.text-hero span{
   font-size: 14px;
   padding-bottom: 10px;
   display: inline-block;
   letter-spacing: 0.70px;
}
.text-hero h1{
    font-size: 150px;
    font-weight: 100;
    
}

.text-hero p{
    font-size: 14px;
    padding-top: 25px;
    line-height: 30px;
    letter-spacing: 0.90px;
}
.bottom button{
    margin-top: 30px;
    border: var(--bottom) 1px solid;
    padding: 10px;
    background-color: var(--bottom);
    border-radius: 20px;
    color: var(--font-bottom);
box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.299);

}
 
.bottom button:hover{
    color: var(--sub-title);
    transition: 0.3s;
}

.bottom button:active{
    scale: 0.90;
}