.container-full{
  background-image: url("/coffee_image.png");
  
}
.container-nav nav.flex{
    justify-content: space-between;
    color: var(--font-color);

}

.container-nav{
    padding: 0px 35px 10px 35px;
}

.container-nav nav ul li{
    padding: 0 10px;
    font-size: 14px;
    margin-top: 10px;
    cursor: pointer;
}
.container-nav nav ul li a:hover{
   color: var( --bottom);
   transition: 0.3s;
}
.container-nav nav ul li:active{
    scale: 0.90;
}

.container-nav nav h1{
    font-size: 40px;
    font-weight: 100;
    cursor: pointer;

}

.container-nav nav .button{
    gap: 20px;
    font-size: 14px;
    margin-top: 10px;
    cursor: pointer;
}

.container-nav nav .sing{
     border: var(--bottom) 1px solid;
     background-color: var(--bottom);
     padding: 10px;
     border-radius: 10px;
     color: var( --font-bottom);
     position: relative;
     bottom: 9px;


}

.container-nav nav .sing:hover{
    color: var(--sub-title);
    transition: 0.3s;
}

.container-nav nav .sing:active{
    scale: 0.90;
}

.container-nav nav .sign:active{
    scale: 0.90;
}
.container-nav nav .sign:hover{
    color: var(--bottom);
    transition: 0.3s;
}



.menu-links{
    position: fixed;
    inset: 0;
    background-color:#603709c4 ;
    color: aliceblue;
    z-index: 1000;
    animation: icon 0.7s 1;
   backdrop-filter: blur(5px);
    
}


.menu-links2 li{
    display: block;
    border-bottom: 1px solid #f9c06a7d;
     padding: 20px ;
}

.menu-links2 li a:hover{
    color: var(--bottom);
    transition: 0.3s;
    font-size: 14px;
    cursor: pointer;
}



.menu-links2 li:last-child{
    border: none;
}
 
 .container-full .menu-links2{
   width: 70%;
   margin: auto;
   background-color: #603709c4 ;
   margin-top: 70px;
   border-radius: 20px;
    padding-top: 20px;
}

  .menu-links .icons svg{
     position: relative;
     /* left: 980px;
     top: 130px; */
    inset: 80%;
    left: 2700%;
     font-size: 30px;
      color: #F9C06A;
     
 }

 .menu-links .icons svg:active{
      scale: 0.90;

 }

  .menu-links .icons svg:hover{
  rotate: 180deg;
        transition: 0.2s;
  }

.menu-icon{
    font-size: 35px;
    color: aliceblue;
    border: 1px solid #724d21be;
    background-color: #6d4313;
    border-radius: 50%;
    padding: 10px 15px 5px ;
    color: #F9C06A;
    text-align: center;
     display: none;
}



@media(max-width:768px){
    .nav{
        display: none;
    }
    .menu-icon{
        display: block;
    }
      .menu-links .icons svg{
     position: relative;
     /* left: 980px;
     top: 130px; */
    inset: 80%;
    left: 650%;
     font-size: 30px;
      color: #F9C06A;
     z-index: 1000;
 }
 .menu-icon{
   position: relative;
   left: 210px;
   top: 25px;
     font-size: 30px;

}

.container-full .h1{
    color: aliceblue;
    position: absolute;
    top: 40px;
    left: 30px;
    font-size: 20px;
 }

 .container-full{
  background-image: url("/coffee_image3.png");
  
}


}









/* ===================================================================
                   hero section
============================================================== */




.container-hero {
 padding-top: 100px;
 color: var(--font-color);
   padding: 100px 0 50px 70px;
   padding-right: 650px;
}

.text-hero span{
   font-size: 14px;
   padding-bottom: 10px;
   display: inline-block;
   letter-spacing: 0.70px;
}
.text-hero h1{
    font-size: 150px;
    font-weight: 100;
    
}

.text-hero p{
    font-size: 14px;
    padding-top: 25px;
    line-height: 30px;
    letter-spacing: 0.90px;
}
.bottom button{
    margin-top: 30px;
    border: var(--bottom) 1px solid;
    padding: 10px;
    background-color: var(--bottom);
    border-radius: 20px;
    color: var(--font-bottom);
box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.299);

}
 
.bottom button:hover{
    color: var(--sub-title);
    transition: 0.3s;
}

.bottom button:active{
    scale: 0.90;
}


@media(max-width:1024px){
     .container-hero{
         padding-right: 600px;
     }
}

@media(max-width:768px){
    .text-hero span{
        font-size: 10px;
    }

    .text-hero h1{
        font-size: 70px;
    }
    .text-hero p{
        font-size: 10px;
    }

    .container-hero{
   padding-right: 120px;
   padding-left: 30px;
    }

.bottom button{
    font-size: 10px;
}

}

@keyframes icon{
    0%{scale:0;}
    60%{scale: 1.2;}
    100%{scale:1;}
}
